@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  user-select: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}
